<div class="login-whole">
<div class="login-wrapper lay-flex">

  <mat-card class="box mat-elevation-z8" style="background-color: white">
    <img src="assets/images/logo.png" style="width: 340px;height: 6em;padding-left: 5px;padding-right: 5px;padding-bottom: 5px;padding-top: 5px">
    <form  #f="ngForm" novalidate
           class="example-form" style="margin-top: 1em" (ngSubmit)="f.form. valid && logIn(f.value)">


      <mat-card-content>
        <mat-form-field class="example-full-width" color="primary" appearance="outline">

          <mat-label><mat-icon class="main-button">person_pin</mat-icon>&nbsp;&nbsp;&nbsp;&nbsp;Username</mat-label>
          <input matInput name="username"
                 [(ngModel)]="loginservice.form.username"
                 required
                 #username="ngModel">

          <mat-hint *ngIf="f.submitted && username.invalid"> <i style="color: red">username is required</i></mat-hint>

        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label><mat-icon class="main-button">lock</mat-icon>&nbsp;&nbsp;&nbsp;&nbsp;Password</mat-label>
          <input type="password" matInput name="password"
                 [(ngModel)]="loginservice.form.password"
                 required
                 #password="ngModel">
          <mat-hint *ngIf="f.submitted && password.invalid"> <i style="color: red">password is required</i></mat-hint>
        </mat-form-field>


      </mat-card-content>
      <div style="background-color: #a94442"  *ngIf="f.submitted && error"  style="text-align: center;margin-bottom: 1em; width: auto"> <i style="color: red">&nbsp;&nbsp;&nbsp;&nbsp; Invalid Log In Credentials!!!</i></div>

      <button type="submit" mat-stroked-button class="btn-block">Log in</button>
    </form>
  </mat-card>

</div>

</div>

