<div class="content">
  <form  #f="ngForm" novalidate
         class="example-form" (ngSubmit)="f.form.valid && verifyOtp(f.value)">
    <input type="hidden" name="userId" [(ngModel)]="this.loginService.otp.userId">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <div fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%" style="margin-bottom: 1em">
        <span class="mat-headline lay-flex" fx style=" font-weight: lighter">Enter OTP Code</span>
      </div>


      <div fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">

        <!--           style="margin-top: 1em" (ngSubmit)="f.form. valid && logIn(f.value)">-->




        <mat-form-field appearance="outline">
          <mat-label>Enter OTP</mat-label>
          <input name="otp" matInput
                 [(ngModel)]="loginService.otp.otp"
                 #otp="ngModel"
                 required>
        </mat-form-field>

        <mat-hint *ngIf="f.submitted && otp.invalid"> <i style="color: red">OTP is Required</i></mat-hint>


      </div>
      <div style="background-color: #a94442"  *ngIf="f.submitted && loginService.error"  style="text-align: center;margin-bottom: 1em; width: auto"> <i style="color: red">&nbsp;&nbsp;&nbsp;&nbsp; Invalid or Expired OTP!!!</i></div>

      <div fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">

        <button type="submit" mat-raised-button color="primary" class="mat-elevation-z8">Submit</button>


        <button type="button" mat-raised-button class="mat-elevation-z8" style="margin-left: 20px" (click)="closeModal()">Cancel</button>

      </div>
    </div>


  </form>
</div>
