<div style="padding: 5px">
<mat-grid-list [cols]="tilesbreakpoint" [rowHeight]="tilesrowHeight" gutterSize="5px" (window:resize)="handleSize($event)">
  <mat-grid-tile class="mat-elevation-z5 box">
    <div class="lay-flex">
      <span style="font-style: oblique;font-size: 20px; color: #7386D5">Total Students</span>
      <mat-icon class="icon-size" color="primary" matBadge="23" matBadgeColor="primary">groups</mat-icon>
      <span class="cdk-visually-hidden">
Total Students
      </span>
    </div>
  </mat-grid-tile>
  <mat-grid-tile class="mat-elevation-z5 box">
    <div>
    <span style="font-style: oblique;font-size: 20px; color: #7386D5">Within School&nbsp;</span>
    <mat-icon class="icon-size" color="primary" matBadge="20" matBadgeColor="primary">admin_panel_settings</mat-icon>
    <span class="cdk-visually-hidden">
In School
      </span>
  </div>
  </mat-grid-tile>
  <mat-grid-tile class="mat-elevation-z5 box">
    <div>
      <span style="font-style: oblique;font-size: 20px; color: #B00020">Out of School&nbsp;</span>
      <mat-icon class="icon-size" color="warn" matBadge="3" matBadgeColor="warn">nearby_error</mat-icon>
      <span class="cdk-visually-hidden">
In School
      </span>
    </div>
  </mat-grid-tile>
  <mat-grid-tile class="mat-elevation-z5 box">

    <div>
      <span style="font-style: oblique;font-size: 20px; color: #f73378">Active Teachers&nbsp;</span>
      <mat-icon class="icon-size" color="accent" matBadge="13" matBadgeColor="accent">reduce_capacity</mat-icon>
      <span class="cdk-visually-hidden">
In School
      </span>
    </div>
  </mat-grid-tile>
</mat-grid-list>

<div style="padding: 10px;margin-top: 1em">
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="dashboard-tab-icon">equalizer</mat-icon>
        Main
      </ng-template>
<div style="padding: 10px">
      <mat-grid-list [cols]="graphbreakpoint" gutterSize="5px">
        <mat-grid-tile class="mat-elevation-z5 box-graph">

          <canvas id="myChart" width="300" height="250" #mychart></canvas>

        </mat-grid-tile>
        <mat-grid-tile class="mat-elevation-z5 box-graph">

          <canvas id="studentsChart" width="300" height="250" #studentsChart></canvas>


        </mat-grid-tile>

      </mat-grid-list>

      <mat-grid-list [cols]="graphbreakpoint" gutterSize="5px">
        <mat-grid-tile class="mat-elevation-z5 box-graph">
          <canvas id="feeChart" width="300" height="250" #feeChart></canvas>


        </mat-grid-tile>
        <mat-grid-tile class="mat-elevation-z5 box-graph">

          <canvas id="paymentChart" width="300" height="250" #paymentChart></canvas>


        </mat-grid-tile>

      </mat-grid-list>
</div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="dashboard-tab-icon">query_stats</mat-icon>
        Exams
      </ng-template>
      Content 2
    </mat-tab>

  </mat-tab-group>
</div>
</div>
